body{
    background-color: black;
  }
  header{
    box-sizing: border-box;
    height: 100px;
    padding: 20px 0;
   
  }
  #logo{
    width: 400px;
  }
  a{
    color: #F1C40F;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
  }
  a:hover{
    opacity: 0.7;
  }
  
  nav{
    align-items: center;
    display: flex;
    justify-content: space-around;
    background-color: #000000;
    height: 8vh; 
  }
  .nav-list {
    display: flex;
    list-style: none;
  }
  .nav-list li{
    letter-spacing: 3px;
    margin-top: 12px;
    margin-left: 32px;
  }
  
  .mobile-menu{
    cursor: pointer;
  }
  
  .mobile-menu div{
    background-color: #F1C40F;
    height: 2px;
    margin: 8px;
    width: 32px;
  }

  /* PRODUTOS   */
 
.titulo__itens{
    color: white;
    font-weight: bold;
    font-size: 30px;
    margin: 40px 0px 0px;
}

.itens{
    display: flex;
    flex-wrap: wrap;
    margin:  0 auto;
}

.coffee__produto{
    background: white;
    display: flex;
    flex-direction: column;
    margin: 15px;
    width: 200px;
}

.cafe__img{
    height: 200px;
    object-fit:cover;
    width: 100%;
}

.informacoes{
    text-align: center;
    font-size: 17px;
    line-height: 20px;
    margin: 15px 0px 25px  0px;
}

.preco{
    font-weight: bold;
}

.links-produtos{
    color: #000000;
}


.titulo__itens{
    margin: 60px 0 20px 0;
    color: aliceblue;
}


/*Responsivo*/

@media screen and (min-width:320px) and (max-width:360px){
    #logo{
        width: 250px;
    }
    .coffee__produto{
        width: 270px;
        margin: 20px auto;
        
    }
}

@media screen and (min-width:360px) and  (max-width:479px){
    header{
        height: 50px;
    }
    #logo{
        width: 280px;
    }
    .coffee__produto{
        width: 300px;
        margin: 20px auto;
    }
    .titulo__itens{
        font-size: 25px;
    margin: 45px 0px 0px;

    }
}
@media screen and (min-width:480px) and  (max-width:540px){

.coffee__produto{
    margin: 20px auto;
    width: 210px;
}


}
@media screen and (min-width:600px) and  (max-width:750px){

    .coffee__produto{
        margin: 20px auto;
        width: 270px;
        
    }
}
@media screen and (min-width:751px) and  (max-width:900px){

    .coffee__produto{
        width: 200px;
        margin: 20px 25px;
    }
}
@media screen and (max-width:999px){
    body{
        overflow-x: hidden ;
    }
    .nav-list{
        position: absolute;
        top: 8vh;
        right: 0;
        width: 30vw;
        height: 30vh;
        background: black;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
    }
    .nav-list li{
        margin-left: 0;
        opacity: 0;
    }
    .nav-list:active{
        transform: translateX(0);
    }
    
    .mobile-menu{
        display: block;
    }
}
