body{
    background-color: black;
  }
  header{
    box-sizing: border-box;
    height: 100px;
    padding: 20px 0;
   
  }
  #logo{
    width: 400px;
  }
  a{
    color: #F1C40F;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
  }
  a:hover{
    opacity: 0.7;
  }
  
  nav{
    align-items: center;
    display: flex;
    justify-content: space-around;
    background-color: #000000;
    height: 8vh; 
  }
  .nav-list {
    display: flex;
    list-style: none;
  }
  .nav-list li{
    letter-spacing: 3px;
    margin-top: 12px;
    margin-left: 32px;
  }
  
  .mobile-menu{
    cursor: pointer;
  }
  
  .mobile-menu div{
    background-color: #F1C40F;
    height: 2px;
    margin: 8px;
    width: 32px;
  }

  /* PRODUTOS   */
 
.titulo__itens{
    color: white;
    font-weight: bold;
    font-size: 30px;
    margin: 40px 0px 0px;
}

.itens{
    display: flex;
    flex-wrap: wrap;
    margin:  0 auto;
}

.coffee__produto{
    background: white;
    display: flex;
    flex-direction: column;
    margin: 15px;
    width: 200px;
}

.cafe__img{
    height: 200px;
    object-fit:cover;
    width: 100%;
}

.informacoes{
    text-align: center;
    font-size: 17px;
    line-height: 20px;
    margin: 15px 0px 25px  0px;
}

.preco{
    font-weight: bold;
}

.links-produtos{
    color: #000000;
}


.titulo__itens{
    margin: 60px 0 20px 0;
    color: aliceblue;
}



